#heading{
    font-size: 2.5em;
    margin-top: 15vh;
    font-weight: bolder
}
#container{
    margin: 15vmin;
}
@media(min-width: 400px)
{
    #heading{
        font-size: 3em;
    }
}
@media(min-width: 740px)
{
    #heading{
        font-size: 4em;
    }
}
