<!--Footer-->
<style>
    .ui.inverted.section.divider{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #copyright{
        margin: 0;
    }
    .ui.circular.icon.button.social-icon{
        margin: 6px;
    }
</style>

<div class="ui relaxed inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable very relaxed three column inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Auctioneers </h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">E-mail: placeholder@example.com</a>
                    <a href="#" class="item">Phone: 0123456789"</a>
                    <a href="#" class="item">Address: Prem Marg,Roop Nagar, New Tola</a>
                </div>
            </div>
            <div class="ten wide column">
                <h4 class="ui inverted header">About Auctioneers</h4>
                <p>Auctioneers offers you a platform to find a suitable customer for your product
                    and also find a perfect product for you from the ongoing bids.Auctioneers offers you a platform to find a suitable customer for your product
                    and also find a perfect product for you from the ongoing bids.Auctioneers offers you a platform to find a suitable customer for your product
                    and also find a perfect product for you from the ongoing bids.


                </p>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Social</h4>
                <button class="ui circular facebook icon button social-icon">
                    <i class="facebook icon social-icon"></i>
                </button>
                <button class="ui circular twitter icon button social-icon">
                    <i class="twitter icon social-icon"></i>
                </button>
                <br>
                <button class="ui circular linkedin icon button social-icon">
                    <i class="linkedin icon social-icon"></i>
                </button>
                <button class="ui circular google plus icon button social-icon">
                    <i class="google plus icon social-icon"></i>
                </button>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui horizontal inverted divided link list">
            <a class="item">Sitemap</a>
            <a href="/contact" class="item">Contact Us</a>
            <a href="/privacy-policy" class="item">Privacy Policy</a>
            <a href="/terms-and-conditions" class="item">Terms And Conditions</a>
            <a href="/meetTheCreators" class="item">Meet The Creators</a>
        </div>
        <div class="ui inverted" id="copyright">
            <div class="item">Copyright © 2k21 Aunctioneer </div>
        </div>
    </div>
</div>
