<div class="ui inverted vertical footer segment">
    <br>
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="nine wide column">
                <h4 class="ui inverted header">About</h4>
                <p>OnlineAuction offers you a platform to find a suitable customer for your product
                    and also find a perfect product for you from the ongoing bids. </p>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Explore More</h4>
                <div class="ui inverted link list">
                    <a href="/items?show=all" class="item">Ongoing bids</a>
                    <a href="/login" class="item">Login</a>
                    <a href="/signup" class="item">Sign Up</a>
                </div>
            </div>


        </div>
        <div class="ui inverted section divider"></div>
        <img src="assets/images/logo.png" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>