<!--navbar-->
<style>

a{
 color: black;
}
a:hover{
    color: #4c4f52;
}
</style>
<div class="ui inverted fixed menu">
    <div class="ui fluid container">
        <a href="/" class="header item">
           <img  src="http://via.placeholder.com/70x50" class="logo">
        </a>
        <a href="/" class="item">
            OnlineAuction
        </a>
        <a href="/items?show=all" class="item">
            Ongoing Bids
        </a>
        <div class="right menu">
        <div class="ui pointing dropdown link item">
            <span class="text">Welcome!!</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item"><a href="/signup" class="ui">Sign Up</a></div>
                <div class="item"><a href="/login" class="ui">Login</a></div>
                <div class="item"><a href="/users/profile" class="ui">My Profile</a></div>
                <div class="item"><a href="/items?show=user" class="ui">Your Items</a></div>
                <div class="item"><a href="/items?show=userbids" class="ui">Your Bids</a></div>
                <div class="item"><a href="/logout" class="ui">Logout</a></div>
            </div>
        </div>
        </div>

    </div>
</div>
