<!--Navbar-->
<style>
    .ui.sidebar{
        overflow: visible!important;
    }
    /*#nav-adjust {*/
        /*margin-top: 3.6em;*/
    /*}*/
    #navbar-small{
        display: inline-flex;
    }
    #navbar-main {
        display: none;
    }
    @media (min-width: 770px) {
        #navbar-main{
            display: inline-flex;
        }
        #navbar-small{
            display: none;
        }
    }
    #navbar-logo {
        /*margin-right: 1.5vw;*/
            /*margin-left: 2vw;*/
    }
    #site-title {
        font-size: 1.3em;
    }
</style>

<div class="ui fixed container inverted menu" id="navbar-main">
    <a href="/" class="header item">
        <img src="/images/logo.png" class="logo" id="navbar-logo">
        <span id="site-title" style="margin-top: 0.4em;">Auctioneers</span>
    </a>
    <div class="right menu">
        <a href="/items?show=all" class="item">All Auctions</a>
        <% if(user) { %>
            <% if(user.dataValues.isVerified){ %>
            <div class="ui pointing dropdown link item">
                <span class="text">Welcome <%= user.dataValues.username %></span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/items/add">Create Auction</a>
                    <a class="item" href="/items?show=others">Bid On Items</a>
                    <a class="item" href="/items?show=user">Your Items</a>
                    <a class="item" href="/items?show=userbids">Your Bids</a>
                    <a class="item" href="/users/">View Profile</a>
                    <a class="item" href="/logout">Logout</a>
                </div>
            </div>
            <% } else { %>
                <div class="ui pointing dropdown link item">
                    <span class="text">Welcome <%= user.dataValues.username %></span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="/users/">View Profile</a>
                        <a class="item" href="/logout">Logout</a>
                    </div>
                </div>
            <%}%>

        <% } else { %>
        <div class="right item">
            <a class="ui inverted button" href="/login">Log In/Sign Up</a>
        </div>
        <% } %>
    </div>
</div>
<div class="ui visible top sidebar fixed container inverted menu" id="navbar-small">
    <a href="/" class="header item">
        <img src="/images/logo.png" class="logo" id="" style="margin: 0">
        <span id="site-title">Auctioneers</span>
    </a>
    <div class="right menu">

        <% if(user) { %>
        <% if(user.dataValues.isVerified){ %>
        <div class="ui dropdown link item">
            <i class="inverted sidebar icon"></i>
            <div class="menu">
                <a href="/items?show=all" class="item">All Auctions</a>
                <a class="item" href="/items/add">Create Auction</a>
                <a class="item" href="/items?show=others">Bid On Items</a>
                <a class="item" href="/items?show=user">Your Items</a>
                <a class="item" href="/items?show=userbids">Your Bids</a>
                <a class="item" href="/users/">View Profile</a>
                <a class="item" href="/logout">Logout</a>
            </div>
        </div>
        <% } else { %>
        <div class="ui dropdown link item">
            <i class="inverted sidebar icon"></i>
            <div class="menu">
                <a href="/items?show=all" class="item">All Auctions</a>
                <a class="item" href="/users/">View Profile</a>
                <a class="item" href="/logout">Logout</a>
            </div>
        </div>
        <%}%>
        <% } else { %>
        <div class="ui dropdown link item">
            <i class="inverted sidebar icon"></i>
            <div class="menu">
                <a href="/items?show=all" class="item">All Auctions</a>
                <a class="item" href="/login">Log In/Sign Up</a>
            </div>
        </div>
        <% } %>
    </div>
</div>

<!--<div id="nav-adjust">-->

<!--</div>-->