<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auctioneers | 404</title>
    <%- include('components/headers.ejs') %>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
<%- include('components/navbar.ejs') %>
<div class="ui relaxed container">
    <div class="ui center aligned">
        <div class="img-container">
            <img src="/images/404.png">
        </div>
        <div class="relaxed container error">Oops... Someone took an Unexpected Turn!!</div>

    </div>
</div>
<%- include('components/footer.ejs') %>
</body>
</html>