<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>

</head>
<body>
<p><%=userid%></p>
<form action="/items/bid/<%=userid%>" method="post">
    <input type="number" name="bidprice">
    <button type="submit">Submit</button>
</form>
</body>
</html>