<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auctioneers | Email Not Verified</title>
    <%- include('components/headers.ejs') %>
    <style>
        #container{
            margin-top: 6em;
        }
        body{
            height: auto;
        }
    </style>
</head>
<body>
<%- include('components/navbar.ejs') %>
<div class="ui relaxed center aligned container">

        <div id="container" style="height: 15em; margin-bottom: 2em;text-align: center">
            <img src="/images/email-verify.jpg" height="100%">
        </div>
        <div  style="font-size: 3vmax ;font-weight: bold;text-align: center;margin-top: 7vh;margin-bottom: 8vh;">Please verify your E-Mail to continue :)

            <div style="margin-top: 1em">
                <a href="/resendEmail"><button class="ui primary button">Resend Verification Email</button>
                </a>
            </div></div>

</div>
<%- include('components/footer.ejs') %>
</body>
</html>