<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <%- include('components/headers'); %>
    <style>

        .margin-top-157 {
            margin-top: 157px;
        }
        .clr-sml{
            height: 10px;
        }
        body{
            height: auto;
        }
        .text-center{
            text-align: center;
        }
        .margin-left-right-20{
            margin-left: 20px;
            margin-right: 20px;
        }
        .t18{
            font-size: 18px;
        }
        .t16 {
            font-size: 16px;
        }
    </style>
</head>
<body>

<%- include('components/navbar'); %>
<div class="margin-top-157" id="main-container">
    <div class="ui container">
        <form class="ui form" action="/forgot" method="post">
            <div class="ui grid">
                <div class="six wide field t22 text-center">
                    <div class="clr-sml"></div>
                    <div class="text-center"><img src="/images/forgot-password.png" height="80"></div>
                    <div class="clr-sml"></div>
                    <div class="text-center t18"><b>Forgot your password?</b></div>
                    <div class="clr-sml"></div>
                    <div class="t16 margin-left-right-20 text-center"> Don't worry, it can be easily restored by providing either your Username or Email Id.</div>
                </div>
                <div class="eight wide field">
                    <h4 class="ui dividing header" style="font-size: 22px;">Recover Password</h4>
                    <div class="clr-sml"></div>
                    <div class="field">
                        <input name="username" placeholder="Username" type="text">
                    </div>
                    <div class="ui horizontal divider">
                        Or
                    </div>
                    <div class="clr-sml"></div>
                    <div class="field">
                        <input name="email" placeholder="Email Id" type="text">

                    </div>
                    <div class="clr-sml"></div>
                    <div class="field text-center">
                        <button class="ui button" type="submit">Submit</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="clr-sml"></div>
<!--<div class="margin-top-120">
    <form action="/forgot" method="post">
    <input name="username" placeholder="username" >
    <input name="email" placeholder="email" >
    <button type="submit">SUBMIT</button>
    </form>
</div>-->
<br><br><br>
<%- include('components/footer'); %>
</body>
</html>