<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auctioneers | Forgot Password</title>
    <%- include('components/headers'); %>
    <link rel="stylesheet" href="/css/password.css">
</head>
<body>

<style>
    #main-container{
        min-height: 50vh;
    }
</style>

<%- include('components/navbar'); %>
<div class="margin-top-157" id="main-container">
    <div class="ui relaxed container">
        <form class="ui form" action="/forgot" method="post">
            <div class="ui stackable two column grid">
                <div class="six wide column t22 text-center">
                    <div class="clr-sml"></div>
                    <div class="text-center"><img src="/images/forgot-password.png" height="80"></div>
                    <div class="clr-sml"></div>
                    <div class="text-center t18 blue"><b>Forgot your password?</b></div>
                    <div class="clr-sml"></div>
                    <div class="t16 margin-left-right-20 text-center"> Don't worry, it can be easily restored by providing either your Username or Email Id.</div>
                </div>
                <div class="eight wide column">
                    <h4 class="ui dividing header t22 orangered">Recover Password</h4>
                    <div class="clr-sml"></div>
                    <div class="field">
                        <input name="username" placeholder="Username" type="text">
                    </div>
                    <div class="ui horizontal divider">
                        Or
                    </div>
                    <div class="clr-sml"></div>
                    <div class="field">
                        <input name="email" placeholder="Email Id" type="text">

                    </div>
                    <div class="clr-sml"></div>
                    <div class="field text-center">
                        <button class="ui primary button" type="submit">Submit</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="clr-sml"></div>
<br><br><br>
<%- include('components/footer'); %>
</body>
</html>