<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <%- include('components/headers'); %>
    <style>
        ::placeholder{
            opacity: 1;
        }

        .margin-top-157 {
            margin-top: 22vh;
        }
        @media(min-width: 700px){
            .margin-top-157 {
                margin-top: 15vh;
            }
        }
        .clr-sml{
            height: 2vh;
        }
        body{
            height: auto;
        }
        .text-center{
            text-align: center;
        }
        .margin-left-right-20{
            margin-left: 20px;
            margin-right: 20px;
        }
        .t18{
            font-size: 18px;
        }
        .t16 {
            font-size: 16px;
        }
    </style>
</head>
<body>

<%- include('components/navbar'); %>
<div class="margin-top-157" id="main-container">
    <div class="ui relaxed container">
        <form class="ui form" action="/forgot" method="post">
            <div class="ui stackable two column grid">
                <div class="six wide column t22 text-center">
                    <div class="clr-sml"></div>
                    <div class="text-center"><img src="/images/forgot-password.png" height="80"></div>
                    <div class="clr-sml"></div>
                    <div class="text-center t18" style="color: #0d71bb"><b>Forgot your password?</b></div>
                    <div class="clr-sml"></div>
                    <div class="t16 margin-left-right-20 text-center"> Don't worry, it can be easily restored by providing either your Username or Email Id.</div>
                </div>
                <div class="eight wide column">
                    <h4 class="ui dividing header" style="color: orangered;font-size: 22px;">Recover Password</h4>
                    <div class="clr-sml"></div>
                    <div class="field">
                        <input name="username" placeholder="Username" type="text">
                    </div>
                    <div class="ui horizontal divider">
                        Or
                    </div>
                    <div class="clr-sml"></div>
                    <div class="field">
                        <input name="email" placeholder="Email Id" type="text">

                    </div>
                    <div class="clr-sml"></div>
                    <div class="field text-center">
                        <button class="ui primary button" type="submit">Submit</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="clr-sml"></div>
<br><br><br>
<%- include('components/footer'); %>
</body>
</html>