<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Online Auction</title>
    <script src="/js/lib/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/main.js"></script>

</head>
<body>
<a href="/signup">
    <button>Sign Up</button>
</a><br>
<a href="/login">
    <button>Login</button>
</a><br>
<a href="/logout">
    <button>Logout</button>
</a><br>
<a href="/items?show=all">
    <button>View All Items</button>
</a>
<div id="time"></div>
</body>
</html>
