<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auctioneers | Password Reset</title>
    <%- include('components/headers'); %>
    <script src="/js/password-reset.js"></script>
   <link rel="stylesheet" href="/css/password.css">
</head>
<body>
<%- include('components/navbar'); %>
<div class="margin-top-167">
    <div class="ui relaxed container">
        <form class="ui form" action="/reset/<%=user.dataValues.resetPasswordToken%>" method="post" onsubmit="return checkSame()">
            <div class="ui stackable three column grid">
                <div class="six wide column t22 text-center">
                    <div class="text-center"><img src="/images/reset_password.png" height="80"></div>
                    <div class="clr-sml"></div>
                    <div class="text-center t18 blue"><b>Secure Login</b></div>
                    <div class="clr-sml"></div>
                    <div class="t16 margin-left-right-20 text-center">This page is only visible to you for a particular time so that your privacy is maintained and no one else can log into your account.</div>
                </div>
                <div class="one wide column"></div>
                <div class="eight wide column margin-top-40">
                    <h4 class="ui dividing header orangered t22">Generate New Password</h4>
                    <div class="clr-sml"></div>

                    <div class="clr-sml"></div>
                    <div class="field">
                        <input placeholder="Enter New Password" id="newpass1" name="password" type="password">

                    </div>
                    <div class="field">
                        <input placeholder="Re-Enter New Password" id="newpass2" name="confirm_password" type="password">

                    </div>
                    <div class="clr-sml"></div>
                    <div class="field text-center">
                        <button class="ui primary button" type="submit">Submit</button>
                    </div>
                    <div class="ui negative message hidden">
                        <i class="close icon"></i>
                        <div class="header">
                            The Passwords you entered do not match !
                        </div>
                        <p>Please re-check the values and try again.
                        </p>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="clr-sml"></div>
<br><br><br><br>
<%- include('components/footer'); %>
</body>
</html>