<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/reset/<%=user.dataValues.resetPasswordToken%>" method="post">
    <input placeholder="enter new password" name="password">
    <button type="submit">SUBMIT</button>
</form>

</body>
</html>