<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/signup" method="post">
    <input name="name" placeholder="Full Name" type="text" required>
    <input name="email" placeholder="E-Mail" type="email" required>
    <input name="username" placeholder="Username" type="text" required>
    <input name="password" placeholder="Password" type="password" required>
    <input name="phone1" placeholder="Phone No." type="number" required>
    <input name="phone2" placeholder="Alt. Phone" type="number">
    <button>SignUp</button>
</form>
</body>
</html>