<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User | Online Auction</title>
    <script src="js/lib/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/main.js"></script>
</head>
<body>
<a href="/items?show=user">
    <button id="products">view your items</button>
</a>
<a href="/items/add">
    <button id="place_product">add a new item</button>
</a>
<a href="/items?show=all">
    <button>view items</button>
</a>
<a href="/items?show=others">
    <button>bid a item</button>
</a>
<a href="/items?show=userbids">
    <button>bidded  items</button>
</a>
<br>
<a href="/users/profile">
    <button>View Profile</button>
</a>
</body>
</html>